@model Lab3MVC.Models.FriendModel
@{
    ViewBag.Title = "AddFriend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a friend</h2>

@using (Html.BeginForm("AddFriend", "Friend", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <div class="form-group">
        @Html.LabelFor(friend => friend.FriendID, new {@class = "control-label col-sm-2"})

        <div class="col-sm-10">
            @Html.TextBoxFor(friend => friend.FriendID, new {@class = "form-control", type = "number"})
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            @Html.ValidationMessageFor(friend => friend.FriendID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(friend => friend.Name, new {@class = "control-label col-sm-2"})

        <div class="col-sm-10">
            @Html.TextBoxFor(friend => friend.Name, new {@class = "form-control"})
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            @Html.ValidationMessageFor(friend => friend.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(friend => friend.Hometown, new {@class = "control-label col-sm-2"})

        <div class="col-sm-10">
            @Html.TextBoxFor(friend => friend.Hometown, new {@class = "form-control"})
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            @Html.ValidationMessageFor(friend => friend.Hometown)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Submit" class="btn btn-default"/>
            @Html.ActionLink("Back", "AllFriends", new {},
                new {style = "color: inherit; text-decoration: none", @class = "btn btn-default"})
        </div>
    </div>
}